* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#game-area {
  width: 1400px;
  height: 400px;
  background-color: black;
  position: relative;
}



.enemy1 {
  background-image: url('./images/ANCIANA.png');
  background-size: cover; 
  background-position: center; 
  width: 55px;
  height: 70px;
  position: absolute;
  bottom: 80px;
  left: 1200px;
 
}

.enemy2{
  background-image: url('./images/POLICIA.png');
  background-size: cover; 
  background-position: center; 
  width: 50px;
  height: 90px;
  position: absolute;
  bottom: 80px;
  left: 1200px;

}

.enemy3{
  background-image: url('./images/PERRO.png');
  background-size: cover; 
  background-position: center; 
  width: 50px;
  height: 69px;
  position: absolute;
  bottom: 80px;
  left: 1200px;

}

#player {
  background-image: url('./images/SKATER.png');
  background-size: cover; 
  background-position: center; 
  width: 71px;
  height: 90px;
  position: absolute;
  bottom: 70px;
  left: 100px;
  transition: transform 0.7s ease-in-out;
}

.saltando {
  animation: saltar 0.7s ease-in-out forwards;
  background-image: url('./images/SKATER_SALTANDO.png');
  background-size: cover; 
}

@keyframes saltar {
  0% {
    bottom: 70px;
  }
  50%{
    bottom: 250px
  }
  100%{

    bottom: 70px;
  }
}